# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv-sagemaker/
venv/
env/

# ============================================================
# Local data
# ============================================================

data/
training/data/

# ============================================================
# Generated model artifacts
# ============================================================

*.joblib
*.tar.gz

# Old local model/deployment artifacts
training/model/
training/deployment/
model_package/
training/train.py
# ============================================================
# Lambda generated dependency package
# ============================================================

lambda_layer/

# ============================================================
# Duplicate / old local files
# ============================================================

training/inference.py

# Prediction output
prediction.json

# ============================================================
# IDE
# ============================================================

.idea/
.vscode/

# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db